<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>浙江省大学生环境生态科技创新大赛</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__INDEX__//i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__INDEX__//i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__INDEX__/css/bootstrap.css" />
<link rel="stylesheet" href="__INDEX__/css/amazeui.min.css" />
<link rel="stylesheet" href="__INDEX__/css/admin.css">
<link rel="stylesheet" href="__INDEX__/css/app.css">
<link rel="stylesheet" href="__INDEX__/font-awesome.css" >
<script src="__INDEX__/js/echarts.min.js"></script>
</head>
<body data-type="index">
   <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                    {$p.title}
                    </div>
                   <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                               截止：{$p.time}
                        </div>
                    </div>
                    
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="caption font-green">
                               {$p.tid}老师</div>
                        </div>
                    </div>
                </div>
               
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                         {$p.text}
                         </br> </br> </br> </br>
                            <form class="am-form am-form-horizontal" action="" method="post" enctype="multipart/form-data" >
                            <div class="am-form-group">
                  <label for="research" class="am-u-sm-3 am-form-label">提交作业</label>
                  <!--   <form method="post" action="" enctype="multipart/form-data"> -->
                  <div class="am-u-sm-9">
                   <div class="am-u-sm-8">
                     <input type="text" class="file" id="f_file" placeholder="请选择文件上传" width:72%>
                   </div>
                   <div class="am-u-sm-4">
                     <input type="button" class="btn btn-default am-radius " value="浏览文件" class="file" onClick="t_file.click()" >

                   </div>
                 </div> 
                 <input name="img" type="file" id="t_file" onchange="f_file.value=this.value" style="display:none">
                 <!--   </form> -->
                 
               </div>
                <input name='uid' type='hidden' value='{$p.uid}'>   <input name='pid' type='hidden' value='{$p.Id}'>
               <div class="am-form-group" style="text-align: center;">
                                 <br>
                                 <button class="btn btn-default am-radius" type="submit">提交</button>
                                </div>
                            </form>
                          
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script  src="__INDEX__/js/distpicker.data.js"></script> 
    <script  src="__INDEX__/js/distpicker.js"></script> 
    <script src="__INDEX__/js/jquery.min.js"></script>
    <script src="__INDEX__/js/amazeui.min.js"></script>
    <script src="__INDEX__/js/app.js"></script>
    <script src="__INDEX__/js/bootstrap.js"></script>   
    <script src="__INDEX__/js/fileinput.js"></script>
</body>

</html>