<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>浙江农林大学作业提交系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="public/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../../public/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="__INDEX__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__INDEX__/css/admin.css">
  <link rel="stylesheet" href="__INDEX__/css/app.css">
  <link rel="stylesheet" href="__INDEX__/css/font-awesome.css" >
  <link rel="stylesheet" href="__INDEX__/css/style.css" >
  <script src="__INDEX__/js/echarts.min.js"></script>
</head>

<body data-type="index">
  <!--引用头部-->
   {include file="public/top"} 
   <!--/引用头部-->

  <div class="tpl-page-container tpl-page-header-fixed">
    <!--引用侧边栏-->
    {include file="public/left"} 
    <!--/引用侧边栏-->
      <div class="tpl-content-wrapper">
       {if $list!='' and $Request.session.class!=0}
        <div class="tpl-portlet-components">
          <div class="portlet-title">
            <div class="caption font-green bold">
             <i class="am-icon-bell-o"></i>未提交作业
           </div>
           <div class="tpl-portlet-input tpl-fz-ml">
            <div class="portlet-input input-small input-inline">

            </div>
          </div>
        </div>

        <div class="tpl-block">

          <ul class="tpl-task-list tpl-task-remind">
            
         
                                <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>


                                    <th class="table-title">编号</th>
                                    <th class="table-type am-hide-sm-only">作业题目</th>
                                    <th class="table-type am-hide-sm-only">课程</th>
                                    <th class="table-type am-hide-sm-only">班级</th>
                                    <th class="table-type am-hide-sm-only">指导老师</th>
                                    <th class="table-date ">截止时间</th>
                                    <th class="table-set">操作</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                               {volist name="list" id='l'}
                                <tr >
                                    <td class="">{$l.project.Id}</td>
                                    <td class="am-hide-sm-only" id="p{$l.project.Id}">{$l.project.title}</td>
                                    <td>{$l.course}</td>
                                    <td class="">{$l.group}</td>
                                    <td >{$l.teacher}</td>
                                        <td >{$l.project.time}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs xa-btn-group">
                                               
                                                 <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="javascript:;" onclick="t({$l.project.Id})"><span class="am-icon-pencil-square-o"></span> 查看</a>
                                              
                                               <!-- <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href=""><span class="am-icon-download"></span> 下载</a>
                                                <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>-->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        <script type="text/javascript">
                                              function t(i){
                                                  layer.open({type: 2, title: '作业上传', shadeClose: true,shade: false, maxmin: true,  area: ['893px', '600px'], content: '{:url("work/upload")}?pid='+i+'&uid={$Request.session.user_id}' });
                                              }
                        </script>
                            
          </ul>
        </div>

      </div>
    {/if}
      <div class="row">
        <div class="am-u-md-6 am-u-sm-12 row-mb">
          <div class="tpl-portlet">
            <div class="tpl-portlet-title">
              <div class="tpl-caption font-green">
                <span>{$Request.session.class==0?'教师信息':'学生信息'}</span>
              </div>
              <div class="actions">

              </div>  
            </div>

            <div class="tpl-scrollable">
              <div class="am-u-sm-12 xa-groupinfo-jz">
                <div class="am-u-sm-5 xa-groupinfo-img">
                 <img src="__INDEX__/img/group1.png" alt="" >

               </div>
               <div class="am-u-sm-7 xa-groupinfo-group">
                 <p class="font-green">{$Request.session.username} {$Request.session.class==0?"老师":"同学"}</p>
                 <span>浙江农林大学</span>
                 <br>

                 </div>
               </div>
                <!--<div class="am-u-sm-12 xa-groupinfo-edit" style="text-align: center;">
                  <a class="btn btn-default " href="#">修改密码</a>
                </div>-->
                
                <div class="am-u-sm-12">
                  <table class="am-table tpl-table xa-groupinfo-table">
                    <tbody>
                      <tr>
                        <td> {$Request.session.class==0?"工号":"学号"}</td><td><span class="font-green bold">{$user.stuid}</span></td>
                      </tr>
                      <tr>
                        <td>性别</td><td><span class="font-green bold">{$user.sex}</span></td>
                      </tr>
                        <tr>
                        <td>联系方式</td><td><span class="font-green bold">{$user.phone}</span></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
              <div class="tpl-portlet-title">
                <div class="tpl-caption font-red "> <i class="fa fa-group"></i> <span>班级列表</span> </div>
                <div class="actions">
                  <ul class="actions-btn">
                    <li class="purple-on">
    }
{if $Request.session.class!=0} 
          <a class="xa-index-group-a" href="javascript:;" onclick="chosec()">选择</a></li>
         {else/}
         <a class="xa-index-group-a" href="javascript:;" onclick="createc()">创建</a></li>
          {/if}


                  </ul>
                </div>
              </div>
              <div class="tpl-scrollable">
                <table class="am-table tpl-table">
                  <thead>
                    <tr class="tpl-table-uppercase">
                      <th>编号</th>
                      <th>名称</th>
                      <th>课程</th>
                      <th>老师</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                  {volist name="$user['groups']" id="g"}
                    <tr>
                    <td>{$g.Id}</td>
                      <td class="font-green bold">
                      
                      <span class="user-name">{$g.name}</span></td>
                      <td>{$g.pid}</td>
                      <td><img src="__INDEX__/img/user01.png" alt="" class="user-pic"> {$g.teacher}</td>
                    
                    </tr>
                    {/volist}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="__INDEX__/js/jquery.min.js"></script> 
    <script src="__INDEX__/js/amazeui.min.js"></script> 
    <script src="__INDEX__/js/iscroll.js"></script> 
    <script src="__INDEX__/js/app.js"></script>
  </body>
  </html>