<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>登录页</title>
<meta name="description" content="login page">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--styles-->
<link href="__INDEX__/style/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__INDEX__/style/css/font-awesome.min.css" rel="stylesheet">
<link href="__INDEX__/style/css/amazeui.min.css" rel="stylesheet" type="text/css">
<link href="__INDEX__/style/css/admin.css" rel="stylesheet" type="text/css">
<link href="__INDEX__/style/css/app.css" rel="stylesheet" type="text/css">
<link href="__INDEX__/style/css/loginstyle.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
    function disp_alert()
    {
        alert("报名已截止！");
    }
</script>
<!--/styles-->
</head>
<body>
<div class="bg-blur" style="background:url(__INDEX__/style/imgs/bg.jpg)"></div>
 <div class="am-g myapp-login">
    <div class="xa-center">
     <div class="contentA">
     	<!--<div class="xa-login-ver">
     		XXXXXXXXXXXXXX系统2.0
     	</div>-->
     	<div class="xa-login-content">
     	   <div class="xa-login-contentA">
     		<p><span>UT</span>科技创新大赛报名系统</p>
     		<span>浙江农林大学</span>
	       </div>
	       <div class="xa-border"></div>
	       <div class="xa-login-cententB">
	      <!-- 	<div class="xa-login-news">
	       		<ul class="xa-login-list">
	       			<li><a href="#">
	       				<p>
	       				<span class="xa-time">【2017.10.10】</span>
	       				<span class="xa-new">xxxx比赛报名已经开始已经开始</span></p>
	       				<div class="xa-more">详情</div></a>
	       			</li>
	       			<li><a href="#">
	       				<p>
	       				<span class="xa-time">【2017.10.10】</span>
	       				<span class="xa-new">xxxx比赛报名已经开始已经开始</span></p>
	       				<div class="xa-more">详情</div></a>
	       			</li>
	       		</ul>
	       	</div>-->
	       </div>
     	</div>
     </div>
     <!--登录框-->
     <div class="contentB">
         <div class="myapp-login-logo-text">
             <div class="myapp-login-logo-text">登录</div>
             <!--<div class="login-font"></div>--><!--添加系统副标题，可选-->
             <div class="am-u-sm-12 login-am-center xa-login-center">
             	<form class="am-form"  name="loginform" accept-charset="utf-8" id="login_form" method="post"><input type="hidden" name="did" value="0"/>
             	    <!--用户名-->
             		<div class="am-form-group">
             			<input class="" type="text" id="" name="name" placeholder="用户名">
             		</div>
             		<!--密码-->
             		<div class="am-form-group xa-login-mima">
             			<input class="" type="password" id="" name="password" placeholder="密码">
             		</div>
             		<!--验证码-->
             		<div class="am-form-group">
             			<input class="" type="text" id="" name="code" placeholder="验证码，点击图片刷新">
                        <img class="xa-login-yzmB" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();" width="100"  alt="captcha" />	
             		</div>
             		<!--登录按钮-->
             		<button class="am-btn am-btn-default" type="submit">登录</button> 
             	</form>
                <div>
                	<!-- <a href="#" style="float: left;">忘记密码</a> -->
                	<span style="float: right;">没有账号？{if(strtotime($bmdeadline.value) > time())}<a href="{:url('register')}">点击注册</a>{else}<a onClick="disp_alert()">点击注册</a>{/if}</span>
                </div>
                <!--<div class="xa-border xa-border-tz"></div>-->
             </div>
             
         </div>
         <div class="login-font"></div>
         <div class="am-u-sm-10 login-am-center"></div>
     </div>
     <!--/登录框-->
     </div>
 </div>

 <script src="__INDEX__/style/jquery.js"></script>
    <script src="__INDEX__/style/bootstrap.js"></script>
    <script src="__INDEX__/style/jquery_002.js"></script>
    <!--Beyond Scripts-->
    <script src="__INDEX__/style/beyond.js"></script>

</body>
</html>
