<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>⼤学生生态环境科技创新大赛</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__INDEX__/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__INDEX__/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__INDEX__/css/amazeui.min.css" />
<link rel="stylesheet" href="__INDEX__/css/admin.css">
<link rel="stylesheet" href="__INDEX__/css/app.css">
<link rel="stylesheet" href="__INDEX__/font-awesome.css" >
<link rel="stylesheet" href="__INDEX__/css/style.css" >
<script src="__INDEX__/js/echarts.min.js"></script>
</head>

<body data-type="index">
-    <!--引用头部-->
   {include file="public/top"} 
   <!--/引用头部-->

   <div class="tpl-page-container tpl-page-header-fixed">
    <!--引用侧边栏-->
    {include file="public/left"} 
    <!--/引用侧边栏-->


        <div class="tpl-content-wrapper">
            
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-user">关于我们</a></li>
                <li class="am-active">联系方式</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                      联系方式
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                <!-- 标题 -->
                <div class="am-g">

                 <div class="title" style="text-align:center;">
                     <h1>{$type3.title}</h1>
                     <h4>作者：可能存在的作者</h4>
                 </div>
                 </div>
                 <!-- 正文 -->
                 <div class="am-g">
                 <div class="am-u-sm-12" style=" font-size: 1em;text-indent:35px;">
                     <!-- <p>假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文</p>
                     <span><img src="__INDEX__/img/group1.png" style="width: 100%"></span>
                     <p>假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文假装是正文</p> -->
                     {$type3.article}
                     <span style="float: right;">大概会有的</span><br>
                     <span style="float: right;">{$type3.time}</span>
                 </div>
                 </div>
                </div>
                <div class="tpl-alert"></div>
            </div>

        </div>

    </div>

    <script src="__INDEX__/js/jquery.min.js"></script>
    <script src="__INDEX__/js/amazeui.min.js"></script>
    <script src="__INDEX__/js/app.js"></script>
</body>

</html>