<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>⼤学生生态环境科技创新大赛</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__INDEX__/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__INDEX__/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__INDEX__/css/amazeui.min.css" />
<link rel="stylesheet" href="__INDEX__/css/admin.css">
<link rel="stylesheet" href="__INDEX__/css/app.css">
<link rel="stylesheet" href="__INDEX__/font-awesome.css" >
<link rel="stylesheet" href="__INDEX__/css/style.css" >
<script src="__INDEX__/js/echarts.min.js"></script>
</head>

<body data-type="index">
<!--引用头部-->
   {include file="public/top"} 
   <!--/引用头部-->
  <div class="tpl-page-container tpl-page-header-fixed">
    <!--引用侧边栏-->
    {include file="public/left"} 
    <!--/引用侧边栏-->



        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-newspaper-o">新闻通知</a></li>
               
                <li class="am-active">新闻资讯</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        新闻资讯
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                           
                        </div>
                    </div>


                </div>
              <div class="tpl-block">
            
                    <ul class="tpl-task-list tpl-task-remind">
                    {volist name="$newsdata['data']" id="data"}
                        <li>
                            <div class="cosB">
                                {$data.time}
                            </div>
                            <div class="cosA">
                                <span class="cosIco">
                        <i class="am-icon-bell-o"></i>
                      </span>

                                <a href="{:url('news/article',array('id'=>$data.id,'type'=>$data.type))}"><span> {$data.title}</span></a>
                            </div>

                        </li>
                    {/volist}
                    </ul>
                    {$newsrender}

                </div>

            </div>










        </div>

    </div>


    <script src="__INDEX__/js/jquery.min.js"></script>
    <script src="__INDEX__/js/amazeui.min.js"></script>
    <script src="__INDEX__/js/app.js"></script>
</body>

</html>