<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>浙江省大学生环境生态科技创新大赛</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__INDEX__//i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__INDEX__//i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__INDEX__/css/bootstrap.css" />
<link rel="stylesheet" href="__INDEX__/css/amazeui.min.css" />
<link rel="stylesheet" href="__INDEX__/css/admin.css">
<link rel="stylesheet" href="__INDEX__/css/app.css">
<link rel="stylesheet" href="__INDEX__/font-awesome.css" >
<script src="__INDEX__/js/echarts.min.js"></script>
</head>

<body data-type="index" onload="window.scrollTo(0,document.body.scrollHeight); ">

   <div class="tpl-page-container tpl-page-header-fixed">



        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        选择班级
                    </div>
                  

                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <div class="am-form am-form-horizontal" >
                                <div class="am-form-group">
                                    <label for="team-name" class="am-u-sm-3 am-form-label">选择老师</label>
                                    <div class="am-u-sm-9">
                                    {volist name="g" id="c"}
                                    <a href="javascript:;" id="user{$c.user_id}" onclick="teach({$c.user_id})" class="btn btn-default am-radius">{$c.name}</a>
                                    {/volist}
                                    </div>
                                </div>
                                <script type="text/javascript"> 
                                var c=new Array();
                                    function teach(i){
                                        var j=0;
                                        $('#d1').empty();
                                        $('#d2').empty();
                                        var json=$.ajax({
                                               type: "GET",
                                               dataType: 'json',
                                            url: "{:url('group/teacher')}?id="+i,
                                            data: "",
                                          timeout: 3000,
                                           contentType: "application/json;utf-8",
                                          success: function(msg) {
                                                 $.each(msg,function(a,b){
                                                    $('#d1').append('<a href="javascript:;" onclick="class1('+a+')" class="btn btn-default am-radius">'+a+'</a>');
                                                    $('#d2').append("<div hidden='true' id='"+a+"'></div>");
                                                      $.each(b,function(d,e){
                                                  //  console.log(e);
                                                    // console.log( Object.prototype.toString.call(e) === "[object String]");
                                                    Object.prototype.toString.call(e) === "[object String]"?"": $('#'+a).append('<a href="{:url("group/cho")}?id='+e['Id']+'" class="btn btn-default am-radius" >'+e["name"]+'</a>');
                                                    
                                                  });
                                                });
                                            }
                                        }); 
                                       
                                        //$('#user'+i).attr('onclick',""); 
                                    }

                                    function class1(i)
                                    {
                                       $('#d2').children().each(function(){
                                       $(this).attr("hidden",true);
                                       });
                                       $(i).attr("hidden",false);
                                    }
                                </script>
                                 <div class="am-form-group">
                                    <label for="team-name" class="am-u-sm-3 am-form-label">选择课程</label>
                                    <div class="am-u-sm-9" id="d1">

                                    </div>
                                </div>
                                  <div class="am-form-group">
                                    <label for="team-name"  class="am-u-sm-3 am-form-label">选择班级</label>
                                    <div class="am-u-sm-9" id="d2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>

    <script  src="__INDEX__/js/distpicker.data.js"></script> 
    <script  src="__INDEX__/js/distpicker.js"></script> 
    <script src="__INDEX__/js/jquery.min.js"></script>
    <script src="__INDEX__/js/amazeui.min.js"></script>
    <script src="__INDEX__/js/app.js"></script>
    <script src="__INDEX__/js/bootstrap.js"></script>   
    <script src="__INDEX__/js/fileinput.js"></script>
</body>

</html>