 <div class="tpl-left-nav tpl-left-nav-hover">

  <div class="tpl-left-nav-list">
    <ul class="tpl-left-nav-menu">
      <li class="tpl-left-nav-item"> <a href="{:url('index/index')}" class="nav-link active"> <i class="am-icon-home" style="width:23px"></i> <span>首页</span> </a> </li>

      <li class="tpl-left-nav-item"> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-newspaper-o"style="width:23px"></i> <span>作业通知</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
        <ul class="tpl-left-nav-sub-menu">
          <li>
            <a href="{:url('news/tongzhi')}"> <i class="am-icon-angle-right"></i> <span>通知公告</span> </a>
          </ul>
        </li> 
         <li class="tpl-left-nav-item "> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-pencil-square-o" style="width:23px"></i> <span>作业管理</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
          <ul class="tpl-left-nav-sub-menu" >
            <li><a href="{:url('project/groupinfo')}"> <i class="am-icon-angle-right"></i> <span>作业提交</span> </a></li>
              <li><a href="{:url('project/memberlist')}"> <i class="am-icon-angle-right"></i> <span>作业查看</span> </a></li>
            <li><a href="{:url('project/memberlist')}"> <i class="am-icon-angle-right"></i> <span>布置作业</span> </a></li>
              <li><a href="{:url('project/memberlist')}"> <i class="am-icon-angle-right"></i> <span>批改作业</span> </a></li>
          </ul>
        </li>
        <li class="tpl-left-nav-item"> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-user" style="width:23px"></i> <span>关于我们</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
          <ul class="tpl-left-nav-sub-menu">
          <li> <a href="{:url('aboutus/aboutus1')}"> <i class="am-icon-angle-right"></i> <span>团队介绍</span> </a> </li>
          </ul>
        </li>
      


      </ul>
    </div>
  </div>