 <div class="tpl-left-nav tpl-left-nav-hover">

  <div class="tpl-left-nav-list">
    <ul class="tpl-left-nav-menu">
      <li class="tpl-left-nav-item"> <a href="{:url('index/index')}" class="nav-link active"> <i class="am-icon-home" style="width:23px"></i> <span>首页</span> </a> </li>

      <li class="tpl-left-nav-item"> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-newspaper-o"style="width:23px"></i> <span>新闻通知</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
        <ul class="tpl-left-nav-sub-menu">
          <li>
            <a href="{:url('news/tongzhi')}"> <i class="am-icon-angle-right"></i> <span>通知公告</span> </a>
            <a href="{:url('news/xinwen')}"> <i class="am-icon-angle-right"></i> <span>新闻资讯</span> </a> </li>
          </ul>
        </li>
        <li class="tpl-left-nav-item"> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-user" style="width:23px"></i> <span>关于我们</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
          <ul class="tpl-left-nav-sub-menu">
          <li> <a href="{:url('aboutus/aboutus1')}"> <i class="am-icon-angle-right"></i> <span>联赛介绍</span> </a> </li>
            <li> <a href="{:url('aboutus/aboutus2')}"> <i class="am-icon-angle-right"></i> <span>组织框架</span> </a> </li>
            <li> <a href="{:url('aboutus/aboutus3')}"> <i class="am-icon-angle-right"></i> <span>联系方式</span> </a> </li>
          </ul>
        </li>
        <li class="tpl-left-nav-item "> <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> <i class="am-icon-pencil-square-o" style="width:23px"></i> <span>项目管理</span> <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right "></i> </a>
          <ul class="tpl-left-nav-sub-menu jz-tpl-left-nav-sub-menu" >
            <li><a href="{:url('project/groupinfo')}"> <i class="am-icon-angle-right"></i> <span>团队信息</span> </a></li>
            <li><a href="{:url('project/memberlist')}"> <i class="am-icon-angle-right"></i> <span>团队成员</span> </a></li>
            <li><a href="{:url('project/materiallist')}"> <i class="am-icon-angle-right"></i> <span>材料提交</span> </a></li>
            <li><a href="{:url('project/recordlist')}"> <i class="am-icon-angle-right"></i> <span>实验记录</span> </a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>