
<header class="am-topbar am-topbar-inverse admin-header">

<script src="__INDEX__/js/jquery.min.js"></script>
<script src="__INDEX__/layer/layer.js"></script>
  <div class="am-topbar-brand"> 
    <span  class="nav-titlle xa-sm-nav-titlle" >浙江省农林大学作业提交系统</span> 
  </div>
  <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"> </div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
      
      <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle> 
        <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">{$Request.session.class==0 ? "教师":"学生"}&nbsp;&nbsp;</a>
      </li>
      <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle> 
          <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;"> 
            <span class="tpl-header-list-user-nick">{$Request.session.username}&nbsp;&nbsp;</span>
            <span class="am-icon-user am-icon-md am-user"> <!--<img src="__ADMIN__/images/adam-jansen.jpg">--></span> 
          </a>
          <ul class="am-dropdown-content">
             <li><a href="{:url('user/psdedit')}"><span class="fa fa-user-o"></span> 用户中心</a></li>
         
             <li><a href="{:url('login/index')}"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      
    
    </ul> 
  </div>
</header>
